<%- include('./header') -%>

<div class="container" style="max-width: 700px; margin-top: 100px">
  <h2 class="text-center" style="margin-bottom: 30px">Edit Sales</h2>
  <!-- INPUT FORM -->
  <div class="row">
    <div class="col-lg-12">
      <form action="/sales/edit/<%= sales.id %>" method="POST">
        <p><strong>Sales Name</strong></p>
        <p><input type="text" name="salesName" class="form-control" value="<%= sales.salesName %>"></p>

        <p><strong>Email</strong></p>
        <p><input type="text" name="email" class="form-control" value="<%= sales.email %>"></p>

        <p><strong>Birthday</strong></p>
        <p><input type="text" name="birthday" class="form-control" value="<%= sales.birthday %>"></p>

        <p>
          <button type="submit" class="btn btn-primary">Edit Sales</button>
        </p>
      </form>
    </div>
  </div>
</div>

<%- include('./footer') -%>